.logo-header {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-accent {
  color: #4d5ae5;
}

.nav-link {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  font-weight: 500;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
